@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&display=swap');
*,*::after,*::before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::selection{
  background: transparent;
}

*::-webkit-scrollbar{
  display: none;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
section{
  min-height: fit-content;
  scroll-snap-align: center;
}
body{
  background-color: #0c0c1d;
  color: lightgray;
  /* width: 100vw; */
  overflow-x: hidden;
    
}
a {
  text-decoration: none;
  color: inherit;
}